.footer {
  &__content {
  }
  &__body {
    @media (min-width: $md2+px) {
      display: flex;
      margin: 0px -15px;
    }
  }
  &__column {
    @media (min-width: $md2+px) {
      padding: 0px 15px;
      flex: 0 1 50%;
    }
    margin: 0px 0px 25px 0px;
    &:first-child {
      display: flex;
      flex-direction: column;
    }
  }
  &__block {
  }
  &__widgets {
  }
  &__bottom {
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #dadada;
    text-align: center;
    @media (min-width: 560px) {
      text-align: left;
      display: flex;
    }
  }
  &__copy {
    flex: 1 1 auto;
    color: #999999;
    font-size: 12px;
    font-weight: 300;
    @media (max-width: 560px) {
      margin: 0px 0px 10px 0px;
    }
  }
  &__social {
  }
  &__container {
  }
  &__payments {
    img {
      max-width: 100%;
    }
    @media (max-width: 560px) {
      text-align: center;
    }
  }
}
.block-footer {
  padding: 0px 0px 20px 0px;
  text-align: center;
  @media (min-width: 560px) {
    text-align: left;
    display: flex;
    flex: 1 1 auto;
  }
  &__column {
    &:first-child {
      flex: 0 0 165px;
    }
    &:last-child {
      flex: 1 1 auto;
      @media (min-width: 560px) {
        padding: 0px 0px 0px 45px;
      }
    }
  }
  &__phones {
    padding: 0px 0px 0px 15px;
    @media (min-width: 560px) {
      padding: 0px 0px 0px 50px;
      background: url('https://img.icons8.com/ios-filled/50/000000/phone.png') left no-repeat;
    }
    p {
      margin: 0px 0px 10px 0px;
      &:last-child {
        margin: 0;
      }
    }
    @media (max-width: 560px) {
      font-size: 18px;
      margin: 0px 0px 30px 0px;
    }
  }
  &__phone {
    color: #333333;
    font-weight: 900;
  }
}
.logo-footer {
  display: inline-block;
  margin: 0px 0px 30px 0px;
}
.delivery-footer {
  @media (max-width: 560px) {
    text-align: center;
  }
  &__title {
    color: #999999;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    margin: 0px 0px 10px 0px;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;

    margin: 0px -15px;
    align-items: center;
    @media (max-width: 560px) {
      justify-content: center;
    }
  }
  &__item {
    padding: 15px;
  }
}
.payments-footer {
  @media (max-width: 560px) {
    text-align: center;
  }
  &__title {
    color: #999999;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    margin: 0px 0px 10px 0px;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;

    margin: 0px -15px;
    align-items: center;
    @media (max-width: 560px) {
      justify-content: center;
    }
  }
  &__item {
    padding: 15px;
  }
}
.social-footer {
  display: flex;
  align-items: center;
  &__item {
    margin: 0px 0px 0px 10px;
  }
  @media (max-width: 560px) {
    justify-content: center;
    &__item {
      margin: 0px 5px;
    }
  }
}
