.form {
}
.btn {
  display: inline-flex;
  padding: 0px 25px;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
  height: 39px;
  background-color: #f68038;
  color: #ffffff;
  font-size: 12px;
  font-weight: 900;
  line-height: 18px;
  text-transform: uppercase;
  @media (min-width: 992px) {
    &:hover {
      background-color: #b86029;
    }
  }
  &._fw {
    width: 100%;
  }
}
.select {
  position: relative;
  &__item {
    position: relative;
  }
  &__title {
    color: #000;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px;
  }
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
  &._focus {
  }
  &._error {
  }
}
textarea.input {
  resize: none;
  padding: 0px 0px;
}
