.top-header {
  background-color: #068292;
  &__content {
    display: flex;
    align-items: center;
    height: 90px;
    @media (max-width: $md3+px) {
      height: 70px;
    }
  }
  &__column {
    flex: 0 1 50%;
    &_logo {
      flex: 0 0 190px;
      text-align: center;
      @media (max-width: $md3+px) {
        align-self: flex-start;
        padding: 0px 0px 0px 25px;
      }
      @media (max-width: 640px) {
        padding: 0px 0px 0px 100px;
      }
    }
  }

  &__logo {
    display: inline-block;
    @media (max-width: $md3+px) {
      width: 100%;
    }
  }
  &__contacts {
    position: relative;
    z-index: 5;
  }
}
.menu {
  &__list {
    display: grid;
    grid-template-columns: 100px 100px 100px;

    @media (max-width: $md3+px) {
      grid-template-columns: 80px 80px 80px;
    }
    @media (max-width: $md4+px) {
      display: none;
    }
  }
  &__link {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 27px;
    font-size: 14px;
    transition: all 0.3s ease 0s;
    text-decoration: underline;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px 22px;
    @media (min-width: $md2+px) {
      &:hover {
        border-radius: 20px;
        background-color: #068;
      }
    }
    @media (max-width: $md1+px) {
      padding: 5px 10px;
    }

    &._active {
      border-radius: 20px;
      background-color: #068;
    }
  }
}

.contacts-header {
  display: flex;
  justify-content: center;
  @media (max-width: $md2+px) {
    flex-direction: column;
  }
  @media (max-width: 640px) {
    align-items: center;
  }
  &__column {
    padding: 0px 30px;
    @media (min-width: $md2+px) {
      border-left: 1px solid #fff;
      &:first-child {
        border: 0;
      }
    }
    @media (max-width: $md1+px) {
      padding: 0px 15px;
    }
    @media (max-width: $md2+px) {
    }
    @media (max-width: 640px) {
      padding: 0px;
    }
  }
  &__item {
    &_first-phone {
      @media (max-width: $md3+px) {
        display: none;
      }
    }
  }
  &__label {
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    margin: 0px 0px 5px 0px;
    @media (max-width: 640px) {
      display: none;
    }
  }
  &__phone {
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    white-space: nowrap;
    @media (max-width: $md1+px) {
      font-size: 16px;
    }
    @media (max-width: 640px) {
      display: none;
    }
  }
}
.bottom-header {
  &__container {
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
  }
  &__column {
    flex: 0 1 calc(50% - 95px);
  }
}
.actions-header {
  display: flex;
  align-items: center;

  li {
    margin: 0px 54px 0px 0px;
    @media (max-width: $maxWidthContainer+px) {
      margin: 0px 30 / $maxWidthContainer * 100vw 0px 0px;
    }
    &:last-child {
      margin: 0px 0px 0px 0px;
    }
  }

  &__item {
    padding: 0px 0px 0px 36px;
    display: inline-block;
    line-height: 50px;
    color: #999999;
    button {
      margin-left: 10px;
    }
    span {
      border-bottom: 1px dotted;
      margin-left: 15px;
    }
    @media (max-width: $md1+px) {
      padding: 0px 0px 0px 30px;
    }
    &_login {
      background: url('https://img.icons8.com/ios-filled/40/null/login-rounded.png') left no-repeat;
    }
    &_like {
      background: url('https://img.icons8.com/ios-glyphs/40/null/filled-like.png') left no-repeat;
    }
    &_reg {
      background: url('https://img.icons8.com/ios-filled/40/null/login-rounded-down.png') left
        no-repeat;
    }

    @media (min-width: $md2+px) {
      &:hover {
        color: #1ab9ce;
      }
    }
    @media (max-width: $md1+px) {
      padding: 0px 0px 0px 30px;
    }
    @media (max-width: $md3+px) {
      &_login {
        text-indent: -9999px;
        width: 40px;
      }
      &_like {
        text-indent: -9999px;
        width: 40px;
      }
      &_reg {
        text-indent: -9999px;
        width: 40px;
      }
    }
  }
}
.info-header {
  display: flex;
  justify-content: center;
  align-items: center;
  &__column {
    padding: 0px 54px 0px 0px;
    display: inline-flex;
    @media (max-width: $maxWidthContainer + px) {
      padding: 0px 30 / $maxWidthContainer * 100vw 0px 0px;
    }
    &:last-child {
      padding: 0;
    }
  }
  &__email {
    background: url('https://img.icons8.com/ios-filled/40/000000/apple-mail.png') left no-repeat;
    display: inline-block;
    color: #1ab9ce;
    line-height: 20px;
    padding: 0px 0px 0px 32px;
    height: 40px;
    span {
      border-bottom: 1px dotted;
      margin-left: 10px;
    }
    @media (max-width: $md2+px) {
      text-indent: -9999px;
      width: 40px;
      height: 40px;
    }
  }
  &__callback {
    background: url('https://img.icons8.com/ios/40/000000/apple-phone.png') left no-repeat;
    display: inline-block;
    color: #1ab9ce;
    line-height: 20px;
    padding: 0px 0px 0px 32px;
    span {
      border-bottom: 1px dotted;
      margin-left: 10px;
    }
    @media (max-width: $md2+px) {
      text-indent: -9999px;
      width: 40px;
      height: 40px;
    }
  }
  &__schedule {
    background: url('https://img.icons8.com/ios/40/000000/calendar--v3.png') left no-repeat;
    padding: 0px 0px 0px 37px;
    display: flex;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    color: #999999;
    span {
      font-weight: 900;
    }
    p {
      margin-left: 10px;
    }
    @media (max-width: $md1+px) {
      background: none;
      padding: 0;
    }
    @media (max-width: $md2+px) {
      background: none;
    }
    @media (max-width: 640px) {
      display: none;
    }
  }
  &__cart {
    width: 43px;
    height: 43px;
    display: inline-block;

    position: relative;
    margin-right: 20px;
    span {
      padding: 0px 11px;
      border-radius: 20px;
      line-height: 25px;

      background-color: #f68038;
      position: absolute;

      top: -3px;
      font-size: 18px;
      font-weight: 700;
      color: #fff;
      @media (max-width: $md1+px) {
        right: -10px;
      }
      @media (max-width: $md2+px) {
        line-height: 20px;
        font-size: 15px;
        font-weight: 500;
      }
    }
    @media (max-width: 640px) {
      width: 30px;
      height: 30px;
      span {
        font-size: 14px;
        padding: 0px 5px;
        line-height: 20px;
      }
    }
  }

  &__price {
    border-left: 2px solid #000;
    background: url('https://img.icons8.com/sf-regular-filled/48/null/expensive-2.png') 0 0 / 100%
      no-repeat;
    @media (max-width: $md3+px) {
      display: none;
    }
  }
  &__count {
    background: url('https://img.icons8.com/ios-filled/50/000000/shopping-cart.png') 0 0 / 100%
      no-repeat;
  }
}
